alias ezsh='vim ~/.zshrc'
alias ebash='vim ~/.bashrc'
alias szsh='source ~/.zshrc'
alias sbash='source ~/.bashrc'
alias etmux='vim ~/.tmux.conf'
alias evim='vim ~/.vimrc'
alias search='grep -rnw'
alias searchc='grep -rni'
alias searchg='grep -rn'
alias getpackage='a4 project branchpackage'
alias ffind='find . -iname'
alias wlog='watch -n 1 cat'
alias rback='rm -rf /var/shmem/bld/Backup/backups/*'
alias lblds='Abuildd -l | grep lcarmichaelpowell'
alias pjdiff='a pj diff | less'
alias pdiff='pjdiff'
alias wsdiffv='a ws diff -v'
alias pjdiffv='a pj diff -v'
alias getlog='ap abuild -l -p .'
alias con='a4c shell'
alias sjobs='jobs -ps'
alias summary='a4 diff --summary'
alias jkill='kill -9 `jobs -ps`'
alias lscore='ls -l /var/core/'
alias killsjobs='sudo kill -9 `sjobs`'
alias hSpace='tmux select-layout even-horizontal'
alias mattRejected='a matt show tests -s rejected | less'
alias mattStarted='a matt show tests -s started'
alias mattApproved='a matt show tests -s approved | less'
alias mattIdle='a matt show tests -s idle'
alias mattOverride='a matt show tests -s overridden | less'
alias mattInvest='a matt show tests -s investigating | less'
alias html='cd ~/public_html'
alias wsdiff='adiff'
alias ls="ls -G"
alias proj="cd ~/projects/"
alias vim="nvim"
alias vi="nvim"
alias dough-server-launch="deno run --allow-env --allow-net --allow-read --watch ./server/server.ts"
alias dough-client-launch="deno bundle --config ./client/tsconfig.json --watch ./client/ts/app.ts ./client/public/bundle.js"
