alias ezsh='vim ~/.zshrc'
alias szsh='source ~/.zshrc'
alias ebash='vim ~/.bashrc'
alias sbash='source ~/.bashrc'
alias etmux='vim ~/.tmux.conf'
alias evim='vim ~/.vimrc'
alias sjobs='jobs -ps'
alias jkill='kill -9 `jobs -ps`'
alias killsjobs='sudo kill -9 `sjobs`'
alias hSpace='tmux select-layout even-horizontal'
alias search='grep -rnw'
alias searchc='grep -rni'
alias searchg='grep -rn'
alias ffind='find . -iname'
